@font-face {
  font-family: 'Gilroy bold';
  src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Gilroy medium';
  src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

$font-gilroy-bold: 'Gilroy bold', Arial;
$font-gilroy-medium: 'Gilroy medium', Arial;
$font-open-sans-regular: 'Open Sans Regular', Arial;
$font-open-sans-bold: 'Open Sans Bold', Arial;
