// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-team-primary: mat-palette($mat-indigo);
$my-team-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-team-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$my-team-theme: mat-light-theme(
  (
    color: (
      primary: $my-team-primary,
      accent: $my-team-accent,
      warn: $my-team-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-team-theme);

@import './colors';
@import './fonts';

body {
  font-family: $font-gilroy-medium;
  color: $white;
  height: 100%;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: $font-gilroy-bold;
  font-size: 18pt;
  line-height: 24pt;
  text-align: center;
  color: $orange;
}

h2,
h3,
h4,
h5,
H5 {
  font-family: $font-gilroy-medium;
  font-size: 18pt;
  line-height: 24pt;
}

h3 {
  color: $dark-blue;
}

h4 {
  font-size: 12pt;
  text-align: left;
  color: $dark-blue;
}

h5 {
  font-size: 12pt;
  text-align: left;
  color: $cyan;
}

h6 {
  font-size: 12pt;
  text-align: left;
  color: $orange;
}

p {
  font-family: $font-open-sans-regular;
  font-size: 12pt;
  line-height: 18pt;
}

.main-container {
  width: 100%;
  background-size: cover;
}

.middle-container {
  margin-top: 100px;
}

.bottom-container {
  height: 25vh;
}

.info-container {
  margin: 0 auto;
  margin-top: 25px;
  width: 200px;

  p {
    font-family: $font-open-sans-bold;
    color: $orange;
  }
}

.form-input-container {
  width: 300px;
}

.error-container {
  margin: 0 auto;
  width: 270px;
}

.background-dark {
  background: $dark-blue;
}

.background-white {
  background: $white;

  .back-button {
    background: url('../images/Next@1x.png') center no-repeat;
  }
}

header {
  margin-bottom: 55px;
}

.header-container {
  height: 120px;
}

.logo {
  background: url('../images/Logo@1x.png') center no-repeat;
  width: 150px;
  height: 40px;
  background-size: 120px;
  margin: 0px 10px;
}

.back-button {
  background-size: 50px;
  width: 13px;
  height: 40px;
  background: url('../images/Next White@1x.png') center no-repeat;
  transform: scaleX(-1);
  display: flex;
}

.slash {
  width: 20px;
  height: 27px;
  background: url('../images/Slash@3x.png') center no-repeat;
  background-size: 16px;
}

.error-logo {
  width: 42px;
  height: 33px;
  background: url('../images/Error@2x.png') center no-repeat;
  background-size: 23px;
}

.cmd-logo {
  background: url('../images/Code@1x.png') center no-repeat;
  width: 64px;
  height: 64px;
  margin: 0px 10px;
}

.users-logo {
  background: url('../images/User@1x.png') center no-repeat;
  width: 64px;
  height: 64px;
  margin: 0px 10px;
}

.lock-logo {
  background: url('../images/Password@1x.png') center no-repeat;
  width: 64px;
  height: 64px;
  margin: 0px 10px;
}

.action-button {
  font-family: $font-gilroy-bold;
  border: 2px solid $white;
  width: 174px;
  height: 53px;
  display: block;
  text-align: left;
  line-height: 50px;
  padding-left: 16px;
  background: url('../images/Next White@1x.png') right no-repeat;
  cursor: pointer;
  color: $white;

  &:hover {
    background: url('../images/Next@1x.png'), #ffffff;
    background-position: right;
    background-repeat: no-repeat;
    color: $orange !important;
  }

  &.orange {
    color: $orange;
    border: 2px solid $orange;
    background-image: url('../images/Next@1x.png');
  }
}

button,
button:focus {
  outline: none;
}

input,
input:focus:not(.mat-input-element) {
  background: transparent;
  padding: 10px;
  border: 2px solid $white;
  text-align: left;
  color: $white;
  outline: none;

  &.ng-invalid {
    color: $orange;
    border-color: $orange;
  }
}

input {
  margin-top: 20px;
  width: 100%;
}
.error {
  font-size: 9pt;
}
