<header-control backButton="true" userAvatar="true"></header-control>
<form [formGroup]="userEditForm" *ngIf="userEditForm">
  <div class="d-flex flex-column">
    <div>
      <div class="d-flex justify-content-center">
        <div class="slash"></div>
        <h4>Edit your profile</h4>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column w-100 p-3">
        <mat-form-field class="example-form-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
          <button mat-button matSuffix mat-icon-button aria-label="Clear">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
          <button mat-button matSuffix mat-icon-button aria-label="Clear">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="delete(userEditForm.get('address'))"
            class="delete"
          >
            delete
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit()" class="edit">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>City</mat-label>
          <input matInput type="text" formControlName="city" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            class="delete"
            (click)="delete(userEditForm.get('city'))"
          >
            delete
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit()">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Postal code</mat-label>
          <input matInput type="text" maxlength="5" placeholder="76502" formControlName="postalCode" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            class="delete"
            (click)="delete(userEditForm.get('postalCode'))"
          >
            delete
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit()">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            class="delete"
            (click)="delete(userEditForm.get('email'))"
          >
            delete
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit()">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Phone</mat-label>
          <input matInput type="text" formControlName="phone" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            class="delete"
            (click)="delete(userEditForm.get('phone'))"
          >
            delete
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit()">edit</button>
        </mat-form-field>

        <mat-form-field class="example-form-field">
          <mat-label>Social media</mat-label>
          <input matInput type="text" formControlName="socialMedia" />
          <button
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            class="delete"
            (click)="delete(userEditForm.get('socialMedia'))"
          >
            delete
          </button>
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="edit()">edit</button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="bottom-container d-flex justify-content-center">
    <button class="action-button orange" (click)="logout()" type="button">Logout</button>
  </div>
</form>
