@import '../../assets/css/colors';
@import '../../assets/css/fonts';

/** angular material input customization */
::ng-deep .mat-form-field-underline {
  display: none;
}
::ng-deep mat-form-field.mat-focused {
  .mat-form-field-flex {
    border: 2px solid $cyan;
    padding: 2px;
  }
  mat-label {
    color: rgba(0, 0, 0, 0.54);
  }
}
::ng-deep mat-form-field .mat-form-field-flex {
  border: 2px solid transparent;
  padding: 2px;
}

::ng-deep mat-form-field button {
  color: $cyan;
  border: none;
  background: none;

  &.delete {
    color: $orange;
  }
}

::ng-deep header {
  margin-top: 0px;
  .header-container {
    height: 90px;
  }
}

h4,
input {
  color: $dark-blue;
}

.bottom-container {
  height: 0vh;
}
