<header-control backButton="true"></header-control>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" *ngIf="passwordForm">
  <div class="d-flex flex-column">
    <div>
      <div class="d-flex justify-content-center">
        <div class="slash"></div>
        <h4 *ngIf="userByUserName">{{ userByUserName.user.name }} {{ userByUserName.user.surname }}</h4>
      </div>
    </div>
    <div class="middle-container">
      <div class="d-flex justify-content-center">
        <div class="lock-logo"></div>
      </div>
    </div>
    <div class="info-container">
      <p class="p-2 text-center">Great, now your password, please!</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column form-input-container">
        <div class="p-2">
          <input placeholder="Make it strong!" type="password" formControlName="password" />
          <input placeholder="And once again ..." type="password" formControlName="confirmPassword" />
        </div>
        <div class="p-2" *ngIf="passwordForm.invalid">
          <div class="d-flex justify-content-center" *ngIf="password.errors?.wrongPassword">
            <div>
              <div class="error-logo"></div>
            </div>
            <div class="error">Oooops! That password is wrong! Try it again please!</div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="password.errors?.minlength">
            <div>
              <div class="error-logo"></div>
            </div>
            <div class="error">Oooops! That password is too weak! Password must be at least 9 symbols long.</div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="confirmPassword.errors?.mustMatch">
            <div>
              <div class="error-logo"></div>
            </div>
            <div class="error">Oooops! Those passwords dont match. Try it again please!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-container d-flex justify-content-center">
    <button class="action-button" type="submit">Continue</button>
  </div>
</form>
