<header>
  <div class="d-flex align-items-end justify-content-around header-container">
    <div><a *ngIf="backButton" (click)="goBack()" class="back-button"></a></div>
    <div><div class="logo"></div></div>
    <div>
      <a *ngIf="userAvatar"><img width="50" src="selfie.png" /></a>
    </div>
  </div>
</header>
