<header-control></header-control>
<form [formGroup]="userNameForm" (ngSubmit)="onSubmit()" *ngIf="userNameForm">
  <div class="d-flex flex-column">
    <div class="middle-container">
      <div class="d-flex justify-content-center">
        <div class="users-logo"></div>
      </div>
    </div>
    <div class="info-container">
      <p class="p-2 text-center">Start by setting up your username!</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column form-input-container">
        <div class="p-2">
          <input placeholder="Here, please!" formControlName="username" />
        </div>
        <div class="p-2" *ngIf="username.errors">
          <div class="d-flex justify-content-center" *ngIf="username.errors.required">
            <div>
              <div class="error-logo"></div>
            </div>
            <div class="error">Oooops! Username is required! Fill in and try it again please!</div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="username.errors.userNotFound">
            <div>
              <div class="error-logo"></div>
            </div>
            <div class="error">Oooops! User was not found. Try again with another username!</div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="username.errors.pattern; else otherErrors">
            <div>
              <div class="error-logo"></div>
            </div>
            <div class="error">Oooops! Your username must contain only letters numbers and spaces!</div>
          </div>
          <ng-template #otherErrors>
            <div class="d-flex justify-content-center" *ngIf="username.errors.minlength || username.errors.maxlength">
              <div>
                <div class="error-logo"></div>
              </div>
              <div class="error">Oooops! Your username must be between 2 and 20 letters length!</div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-end justify-content-around bottom-container">
    <button class="action-button" type="submit">Continue</button>
  </div>
</form>
