<header-control></header-control>
<div class="d-flex flex-column">
  <div>
    <div class="d-flex justify-content-center">
      <h4>&nbsp;</h4>
    </div>
  </div>
  <div class="middle-container">
    <div class="d-flex justify-content-center">
      <div class="cmd-logo"></div>
    </div>
  </div>
  <div class="info-container">
    <p class="p-2 text-center">Welcome to testing assignment at zentity</p>
  </div>
</div>

<div class="d-flex align-items-end justify-content-around bottom-container">
  <a class="action-button" routerLink="/username">Start</a>
</div>
